body {
    width: 60%;
    margin: auto;
}
header {
    background-color: violet;
    height: 150px;
}
header h1, header h2 {
    color: white;
    padding-left: 25px;
}
header h1 {
    padding-top: 25px;
}
img {
    width: 150px;
    height: auto;
    float: right;
    position: relative;
}
article {
    width: 100%;
}
